{% extends "gestion/maqueta.html" %}
{% block content %}
{% if producto %}
<form method="POST" enctype="multipart/form-data">
	<h2>Actualizar producto</h2>
	{% csrf_token %}
	<table>
		{% for campo in form %}
		<tr>
			<td>{{ campo.label_tag }}</td>
			<td>{{ campo }}</td>
			<td>{{ campo.errors }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Actualizar">
</form>
{% else %}
<h2>Producto no encontrado</h2>
<p>Lo sentimos, el producto que desea actualizar no existe.</p>
{% endif %}
{% endblock %}
