{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"> <!-- Codificación unviersal de la página -->
		<title>Administración de lista de compras</title>
		<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximun-scale=1.0,minimun-scale=1.0"> <!-- Permite que la página se adapte al tamaño de los dispositivos -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/gestion.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
	</head>
	<body>
		<div id="container">
			<header>
				<div id="left-side">
					<div class="logo">
						<center><img src="{% static 'images/logo.png' %}" width="300" alt="Logo Electronic Solutions"></center>
					</div>
					<nav class="navbar">
						<a href="{% url 'menu_gestion' %}">Inicio</a>
						<div class="dropdown">
							<button class="dropbtn">Mantenimiento<i class="fa fa-caret-down"></i></button>
							<div class="dropdown-content">
								<a href="{% url 'gestion_productos' %}">Gestión de productos</a>
								<a href="{% url 'gestion_Tienda' %}">Gestión de Tiendas</a>
							</div>
						</div>
					</nav>
				</div>
				<div id="right-side">
					<p>Hola, {{ user.first_name }}</p>
					<a class="btn btn-danger" href="{% url 'logout' %}">Cerrar sesión</a>
				</div>
			</header>

			<section id="main">
				{% block content %}{% endblock %}
			</section>

			<footer>

			</footer>
		</div>
	</body>
</html>
