{% extends "gestion/maqueta.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/productos.css' %}">
<form class="regprod" method="POST" enctype="multipart/form-data">
	<h2>Registrar un producto</h2>
	{% csrf_token %}
	<table>
		{% for campo in form %}
		<tr>
			<td>{{ campo.label_tag }}</td>
			<td>{{ campo }}</td>
			<td>{{ campo.errors }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" value="Registrar">
</form>
{% endblock %}
