<!-- extiende de la maqueta-->
{% extends "maqueta.html" %}
<!--comienza el contenido que se señalo en la maqueta-->
{% block content %}
<!--se le informa a django que se cargaran archivos estaticos-->
{% load staticfiles %}
<div class="loginbox" align="center">
	<form method="POST" class="loginform">
		{% csrf_token %}
		<table>
				{% for field in form %}
				<tr>
						<th>{{ field.label_tag}}</th>
				</tr>
				<tr>
						<td>{{ field }}</td>
						<td>{{ field.errors }}</td>
				</tr>
				{% endfor %}
		</table>
		<p align="center"><input  class="boton" type="submit" value="Ingresar">
		<p align="center">¿No tienes cuenta? <a href="#">Registrate</a>
		<p align="center">¿Olvidaste tu Contraseña? <a href="#">Click Aqui</a>
	</form>
	<br>
	<p align="center">-------- ó --------</p>
	<br>
<p align="center"><a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'images/fb-login.png' %}" width="215px" alt="fb"></a>
{% endblock %}
